*{
    margin: 0;
    padding: 0;
    

}
.bio{
    background-color: bisque;
    color: black;
    padding:5%;
}
.pic{
    width: 70%;
    padding:5%;
}
.new{
    text-align: center;
    background-color: rgb(128, 124, 120);
    
}
.foot{
    text-align: center;
    background-color: black;
    color: white;
    display: flex ;
    align-items: center;
    justify-content: center;
    padding: 2%;
}